.user-signin-block,
.user-signup-block {
    .sing-in-mockup {
        margin-left: -150px;
        padding-right: 30px;
        padding-top: 30px;
        @media only screen and (max-width: 1620px){
            margin-left: -200px;
        }
        @media only screen and (max-width: 1366px){
            margin-left: -100px;
            padding-right: 20px;
        }
        @media only screen and (max-width: 991px){
            margin-left: 0px;
            padding-right: 0px;
        }
    }
}
.user-signup-block {
    position: relative;
    .login-form-remember {
        margin-top: 10px;
    }
    .form-btn-group {
        margin-top: 35px;
    }
}

.user-register-area {
    .default-form {
        .form-group {
            margin-bottom: 25px;
            @media only screen and (max-width: 1199px){
                margin-bottom: 20px;
            }
            label {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                @media only screen and (max-width: 767px){
                    font-size: 17px;
                }
            }
        }
    }
    .form-header {
        padding-bottom: 15px;
        .form-subheading {
            font-size: 20px;
            text-transform: uppercase;
            line-height: 1.2em;
            margin-bottom: 10px;
            color: $orange;
            font-weight: normal;
            @media only screen and (max-width: 1199px){
                font-size: 18px;
            }
            @media only screen and (max-width: 575px){
                font-size: 17px;
            }
        }
        .heading {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.15em;
            @media only screen and (max-width: 1199px){
                font-size: 36px;
            }
            @media only screen and (max-width: 575px){
                font-size: 32px;
            }
            @media only screen and (max-width: 480px){
                font-size: 28px;
            }
        }
    }
    .remember-and-password {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 0 35px;
        line-height: 1.2em;
        @media only screen and (max-width: 1199px){
            padding: 5px 0 20px;
        }
        @media only screen and (max-width: 575px){
            display: block;
        }
        .btn-password {
            color: $color__primary;
            &:hover {
                color: $white;
            }
        }
    }
    .login-form-remember {
        @media only screen and (max-width: 575px){
            margin-bottom: 10px;
        }
        label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 0;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;
            font-weight: normal;
            input {
                height: auto;
            }
            span {
                display: inline-block;
                padding-left: 10px;
                a {
                    color: $color__primary;
                }
            }
        }
    }
    .form-btn-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        @media only screen and (max-width: 400px) {
            display: block;
        }
        .login-form-register-now {
            padding-left: 15px;
            @media only screen and (max-width: 400px) {
                padding-left: 0;
                padding-top: 10px;
            }
            a {
                text-decoration: underline;
                &:hover {
                    color: $color__primary;
                }
            }
        }
    }
    .reg-others-media {
        margin-top: 55px;
        @media only screen and (max-width: 1199px){
            margin-top: 30px;
        }
        @media only screen and (max-width: 400px){
            margin-top: 5px;
        }
        .social-media-icons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin: 35px -5px 0;
            @media only screen and (max-width: 1199px){
                margin-top: 20px;
            }
            > a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 38px;
                border-radius: 50%;
                border: 1px solid $color__border-two;
                text-align: center;
                margin: 0 5px;
                &:hover {
                    background-color: $color__primary;
                    border-color: $color__primary;
                    color: $white;
                }
            }
        }
    }
}