/*--------------------------------------------------------------
# Footer-block
--------------------------------------------------------------*/
.site-footer {
    border-top: 3px solid $color__primary;
    .footer-widget-area {
        margin-top: -7px;
        margin-bottom: 55px;
        .row > [class='col-lg-4'] {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 30%;
                    flex: 0 0 30%;
            max-width: 30%;
            @media only screen and (max-width: 991px) {
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .row > [class='col-lg-2'] {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 20%;
                    flex: 0 0 20%;
            max-width: 20%;
            @media only screen and (max-width: 991px) {
                -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.copyright-text {
    margin-bottom: 0;
    > p {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    a {
        display: inline-block;
        padding-left: 5px;
        color: $color__primary;
        &:hover {
            color: $golden;
        }
    }
}
.footer-bottom-area {
    border-top: 1px solid $color__border-one;
    padding: 25px 0;
    @media only screen and (max-width: 991px) {
        padding: 20px 0;
    }
    @media only screen and (max-width: 480px) {
        font-size: 15px;
    }
}