<div class="page-title-area bg-white-smoke">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-header-content text-center">
          <div class="page-header-caption">
            <h2 class="page-title">A propos de nous</h2>
          </div>
          <!--~~./ page-header-caption ~~-->
          <div class="breadcrumb-area">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">A propos</li>
            </ol>
          </div>
          <!--~~./ breadcrumb-area ~~-->
        </div>
        <!--~~./ page-header-content ~~-->
      </div>
    </div>
  </div>
  <!--~~./ end container ~~-->
</div>
<!--~~./ end page title area ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start About Us Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="about-us-block ptb-120">
  <div class="container">
    <!-- Title Row -->
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="mock-up-thumb md-mrb-55">
          <img src="../../assets/protechh.png" alt="About Mock" />
        </div>
        <!-- /.mock-up-block -->
      </div>
      <!-- /.col-lg-5 -->

      <div class="col-lg-6">
        <div class="about-text-content">
          <div class="section-title">
            <h2 class="title-main">A propos de biddo <span>Shop</span></h2>
            <!-- /.title-main -->
          </div>
          <!-- /.section-title -->
          <div class="about-info-list">
            <div class="single-info">
              <div class="icon">
                <span class="icon-like1"></span>
              </div>
              <!-- /.icon -->
              <div class="info">
                <h3 class="heading">Biddo:</h3>
                <p>
                  Biddo shop fait partie de la famille polposhop la marketplace
                  créée par protech-it en coopération avec Odystone
                  international
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.single-info -->
            <div class="single-info">
              <div class="icon">
                <span class="icon-bookmark1"></span>
              </div>
              <!-- /.icon -->
              <div class="info">
                <h3 class="heading">Enchére</h3>
                <p>
                  Nous géront vos transactions et enchéres en toute sécurité
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.single-info -->
            <div class="single-info">
              <div class="icon">
                <span class="icon-review-1"></span>
              </div>
              <!-- /.icon -->
              <div class="info">
                <h3 class="heading">Satisfaction garantie</h3>
                <p>
                  Avec nos expert en marketing programmation et développement
                  des solution vous ne serai que satisfait
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.single-info -->
          </div>
        </div>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!--~~./ end about us block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Fan Fact Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~./ end fanfact block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Auction Winner Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~./ end auction winner block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Testimonial Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~./ end testimonial block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Work brand Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~./ end work brand block ~-->
