<div class="page-title-area bg-white-smoke">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content text-center">
                    <div class="page-header-caption">
                        <h2 class="page-title">Auction Categories</h2>
                    </div><!--~~./ page-header-caption ~~-->
                    <div class="breadcrumb-area">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>  
                            <li class="breadcrumb-item active">Categories</li>
                        </ol>
                    </div><!--~~./ breadcrumb-area ~~-->
                </div><!--~~./ page-header-content ~~-->
            </div>
        </div>
    </div><!--~~./ end container ~~-->
</div><!--~~./ end page title area ~~--> 

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Auction Product Categories
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="auction-product-categories ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar-items">
                    <div class="product-cat-menu-area">
                        <ul class="product-cat-menu">
                            <li><a href="/categories">Farm & Agriculture <span>05</span></a></li>
                            <li><a href="/categories">Decorative Art <span>22</span></a></li>
                            <li><a href="/categories">Dolls, Bears & Toys <span>15</span></a></li>
                            <li><a href="/categories">Fine Art <span>10</span></a></li>
                            <li><a href="/categories">Jewelry <span>35</span></a></li>
                            <li><a href="/categories">Vehicles, Marine <span>22</span></a></li>
                            <li><a href="/categories">Industrial Machinery <span>50</span></a></li>
                            <li><a href="/categories">Real Estate <span>12</span></a></li>
                        </ul>
                    </div><!-- /.product-cat-menu-area -->
                </div><!-- /.sidebar-items -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-8 auction-items-list md-mrt-60">
                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product1.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product2.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">JBL GO Digital Drone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.08</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter1" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->
                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product4.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product3.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">BBB Bluetooth Headphone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.66</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter2" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->
                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product5.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product6.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">Android Mobile Phone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.55</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter3" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->
                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product3.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product4.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">Digital Headphone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.15</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter4" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->

                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product7.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product8.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">Realistic Watche</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.15</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter5" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->
                
                <div class="auction-item auction-list">
                    <div class="item-img">
                        <a href="/categories">
                            <img src="assets/images/auction/grid/product2.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product1.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="auction-info">
                        <h3 class="heading"><a href="/categories">JBL GO White Drone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                        <div class="item-footer">
                            <div class="item-footer-top">
                                <div class="bid-price">$0.33</div>
                                <div class="bid-timer-area">
                                    <div id="bid_counter6" class="bid-timer"></div>
                                    <p>Waiting For Bid</p>
                                </div>
                            </div>
                            <div class="bid-button">
                                <a class="btn btn-default" href="/categories">Bid Now</a>
                            </div>
                        </div><!-- /.item-footer -->
                    </div><!-- /.auction-info -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-12">
                <!--~~~~~ Start Paging Navigation ~~~~~-->
                <nav class="paging-navigation paging-center pd-t-60">
                    <ul class="nav-links">                                   
                        <li><a href="/categories">01</a></li>
                        <li class="active"><a href="/categories" class="page-numbers">02</a></li>
                        <li><a href="/categories" class="page-numbers">03</a></li>
                        <li class="nav-next">
                            <a href="/categories"><span class="icon-next1"></span></a>
                        </li>  
                    </ul>
                </nav><!--~./ end paging navigation ~-->
            </div>
        </div>
    </div>    
</div><!--~./ end auction product categories ~-->