<div class="page-title-area bg-white-smoke">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content text-center">
                    <div class="page-header-caption">
                        <h2 class="page-title">deals of the day</h2>
                    </div><!--~~./ page-header-caption ~~-->
                    <div class="breadcrumb-area">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">Home</a></li>  
                            <li class="breadcrumb-item active">deals</li>
                        </ol>
                    </div><!--~~./ breadcrumb-area ~~-->
                </div><!--~~./ page-header-content ~~-->
            </div>
        </div>
    </div><!--~~./ end container ~~-->
</div><!--~~./ end page title area ~~--> 

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Deals Page Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="deals-page-block ptb-120">
    <div class="container">
        <div class="row items-two-1199">
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">JBL GO Digital Drone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product1.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product2.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.08</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter1" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">BBB Bluetooth Headphone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product4.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product3.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.66</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter2" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">Android Mobile Phone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product5.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product6.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.55</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter3" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">Digital Headphone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product3.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product4.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.15</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter4" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">Realistic Watche</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product7.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product8.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.15</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter5" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6">
                <div class="auction-item">
                    <div class="item-header">
                        <h3 class="heading"><a href="/auction-details">JBL GO White Drone</a></h3>
                        <div class="auction-id">Auction ID: BB28111</div>
                    </div><!-- /.item-footer -->
                    <div class="item-img">
                        <a href="/deals">
                            <img src="assets/images/auction/grid/product2.jpg" alt="Thumbnail">
                            <img class="prod2" src="assets/images/auction/grid/product1.jpg" alt="Thumbnail">
                        </a>
                        <div class="bid-max">3 x <span class="icon-user-1"></span></div>
                        <div class="item-price">Price: $339</div>
                    </div><!-- /.item-img -->
                    <div class="item-footer">
                        <div class="item-footer-top">
                            <div class="bid-price">$0.33</div>
                            <div class="bid-timer-area">
                                <div id="bid_counter6" class="bid-timer"></div>
                                <p>Waiting For Bid</p>
                            </div>
                        </div>
                        <div class="bid-button">
                            <a class="btn btn-default" href="/deals">Bid Now</a>
                        </div>
                    </div><!-- /.item-footer -->
                </div><!-- /.auction-item -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-12">
                <!--~~~~~ Start Paging Navigation ~~~~~-->
                <nav class="paging-navigation paging-center pd-t-60">
                    <ul class="nav-links">                                   
                        <li><a href="/deals">01</a></li>
                        <li class="active"><a href="/deals" class="page-numbers">02</a></li>
                        <li><a href="/deals" class="page-numbers">03</a></li>
                        <li class="nav-next">
                            <a href="/deals"><span class="icon-next1"></span></a>
                        </li>  
                    </ul>
                </nav><!--~./ end paging navigation ~-->
            </div>
        </div>
    </div>    
</div><!--~./ end deals page block ~-->
