 <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Page Title Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="page-title-area bg-white-smoke">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content text-center">
                            <div class="page-header-caption">
                                <h2 class="page-title">Announcement</h2>
                            </div><!--~~./ page-header-caption ~~-->
                            <div class="breadcrumb-area">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home">Home</a></li>  
                                    <li class="breadcrumb-item active">Announcement</li>
                                </ol>
                            </div><!--~~./ breadcrumb-area ~~-->
                        </div><!--~~./ page-header-content ~~-->
                    </div>
                </div>
            </div><!--~~./ end container ~~-->
        </div><!--~~./ end page title area ~~--> 

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Blog Page Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="blog-page-block ptb-120">
            <div class="container">
                <!-- Content Row -->
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Blog Items -->
                        <div class="blog-latest-items">
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/1.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">Jar contains a certain number of lollies</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/2.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">Winner of auction auction will get gift</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/3.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">You are bidding for the money</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/4.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">No minimum bid price was set</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/1.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">Has been broadly broadly successful</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/2.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">Suffered a little from lack of competition</a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                            <article class="post post-list">
                                <div class="post-thumb-area">
                                    <figure class="post-thumb">
                                        <a href="/blog-single">
                                            <img src="assets/images/blog/post/grid/5.jpg" alt="Blog Image" />
                                        </a>
                                    </figure><!-- /.post-thumb -->
                                </div><!-- /.post-thumb-area -->
                                
                                <div class="post-details">  
                                    <div class="entry-header">
                                        <div class="entry-meta-content">
                                            <div class="entry-author">By - <a href="/blog">Max Jusin</a></div>
                                            <div class="entry-date">On  <span>August 25,2019</span></div>
                                        </div><!-- /.entry-meta-content -->
                                        <h2 class="entry-title"><a href="/blog-single">Amet pulvinar varius phare trasem tristique </a></h2><!-- /.entry-title -->
                                    </div><!-- /.entry-header -->
                                    <div class="entry-title-area">
                                        <p>Lorem ipsum dolor sit amet, cras non sagittis pellentesque donec, nunc eleifend turpmes eu, sed ullamcorper libero magna ac mauris, mollis sem vivamus ut commodo id.</p>
                                        <a class="read-more" href="/blog-single">Read More</a>
                                    </div><!-- /.entry-title-area -->
                                </div><!-- /.post-details -->
                            </article><!-- /.post -->
                        </div><!--  /.blog-latest-items -->

                         <!--~~~~~ Start Paging Navigation ~~~~~-->
                         <nav class="paging-navigation pd-t-100">
                            <ul class="nav-links">                                   
                                <li><a href="/blog">01</a></li>
                                <li class="active"><a href="/blog" class="page-numbers">02</a></li>
                                <li><a href="/blog" class="page-numbers">03</a></li>
                                <li class="nav-next">
                                    <a href="/blog"><span class="icon-next1"></span></a>
                                </li>  
                            </ul>
                        </nav><!--~./ end paging navigation ~-->
                    </div><!--  /.col-lg-8 -->
                    <div class="col-lg-4">
                        <!-- Sidebar Items -->
                        <div class="sidebar-items">
                            <!--~~~~~ Start Search Widget ~~~~~-->
                            <aside class="widget widget_search">
                                <h4 class="widget-title">search in here</h4><!-- /.widget-title -->
                                <form class="search-form" name="search">
                                    <div class="input-group">
                                        <input class="form-controller" placeholder="Search Keyword.."/>
                                        <button class="btn-search"><i class="fa fa-search"></i></button>
                                    </div><!-- /.input-group -->
                                </form><!-- /.search-form -->
                            </aside><!--~./ end search widget ~-->
                            
                            <!--~~~~~ Start Categories Widget ~~~~~-->
                            <aside class="widget widget_categories">
                                <h4 class="widget-title">news categories</h4><!-- /.widget-title -->
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/blog">vas content</a></li>
                                        <li><a href="/blog">internet & Data connectivity</a></li>
                                        <li><a href="/blog">data center</a></li>
                                        <li><a href="/blog">dfn tracker</a></li>
                                        <li><a href="/blog">network setup</a></li>
                                    </ul>
                                </div><!-- /.widget-content -->
                            </aside><!--~./ end categories widget ~-->

                            <!--~~~~~ Start Post List Widget~~~~~-->
                            <aside class="widget widget-post-list">
                                <h4 class="widget-title">recent post</h4><!-- /.widget-title -->
                                
                                <div class="widget-content">
                                    <article class="post">
                                        <div class="post-thumb">
                                            <img src="assets/images/widget/post/wp_1.jpg" alt="Thumbnail">
                                        </div>
                                        <div class="post-details">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">France Prepares to Stake Its Place in World</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span class="icon-clock1"></span>
                                                    25 May 2019
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->

                                    <article class="post">
                                        <div class="post-thumb">
                                            <img src="assets/images/widget/post/wp_2.jpg" alt="Thumbnail">
                                        </div>
                                        <div class="post-details">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">Security Council Diplomats to Have Lunch With Trump</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span class="icon-clock1"></span>
                                                    25 May 2019
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->

                                    <article class="post">
                                        <div class="post-thumb">
                                            <img src="assets/images/widget/post/wp_3.jpg" alt="Thumbnail">
                                        </div>
                                        <div class="post-details">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">Genocide’s Legacy: Ation Village in Rwanda</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span class="icon-clock1"></span>
                                                    25 May 2019
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->

                                    <article class="post">
                                        <div class="post-thumb">
                                            <img src="assets/images/widget/post/wp_4.jpg" alt="Thumbnail">
                                        </div>
                                        <div class="post-details">
                                            <h3 class="entry-title">
                                                <a href="single-post.html">How Can My Business Win Awards?</a>
                                            </h3><!--./ entry-title -->
                                            <div class="entry-meta-content">
                                                <div class="entry-date">
                                                    <span class="icon-clock1"></span>
                                                    25 May 2019
                                                </div><!--./ entry-date -->
                                            </div><!--./ entry-meta-content -->
                                        </div>
                                    </article><!--./ end post -->
                                </div>
                            </aside><!--~./ end post list widget ~-->

                            <!--~~~~~ Start Archive Widget ~~~~~-->
                            <aside class="widget widget_archive">
                                <h4 class="widget-title">Our Achives</h4><!-- /.widget-title -->
                                <div class="widget-content">
                                    <ul> 
                                        <li><a href="/blog">January <span>2010</span></a></li>
                                        <li><a href="/blog">February <span>2011</span></a></li>
                                        <li><a href="/blog">March <span>2012</span></a></li>
                                        <li><a href="/blog">Jun <span>2018</span></a></li>
                                        <li><a href="/blog">May <span>2018</span></a></li>
                                        <li><a href="/blog">January <span>2019</span></a></li>
                                    </ul>
                                </div><!-- /.widget-content -->
                            </aside><!--~./ end archive widget ~-->

                            <!--~~~~~ Start Archive Widget ~~~~~-->
                            <aside class="widget widget_tagcloud">
                                <h4 class="widget-title">news tag</h4><!-- /.widget-title -->
                                <div class="widget-content tagcloud">
                                    <a href="/blog">survey</a>
                                    <a href="/blog">Data Center</a>
                                    <a href="/blog">VAS</a>
                                    <a href="/blog">setup</a>
                                    <a href="/blog">research</a>
                                    <a href="/blog">Customer</a>
                                </div><!-- /.widget-content -->
                            </aside><!--~./ end archive widget ~-->
                        </div><!--  /.sidebar-items -->
                    </div><!-- /.col-lg-4 -->
                </div><!--  /.row -->
            </div><!--  /.container -->
        </div><!--~~./ end blog page ~~-->
