<div
  id="hero-block"
  class="hero-block bg-overlay bg-image"
  style="background-image: url('assets/images/bg/hero.jpg')"
>
  <div id="particles-js"></div>
  <div class="container">
    <div
      class="row align-items-center justify-content-center hero-content-main"
    >
      <div class="col-lg-8">
        <div class="hero-content-area text-center ptb-120">
          <div class="hero-title-area">
            <h2 class="hero-title">Bienvenu à bidoshop</h2>
            <!-- /.hero-title -->
          </div>
          <!-- /.hero-title-area -->
          <div class="hero-desc">
            <p>La solution C2C de vente aux enchéres</p>
          </div>
          <!-- /.hero-desc -->
          <div class="form-group-btn">
            <a class="btn btn-default" href="/enchres">Tout les enchéres</a>
            <a class="btn btn-default btn-white" href="/contact">Contact Us</a>
          </div>
          <!-- /.form-group-btn -->
        </div>
        <!-- /.hero-content-area -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!--  /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.hero-block -->
<div class="facility-area">
  <div class="container ml-b-30">
    <div class="row facility-content">
      <div class="col-lg-3 col-md-6">
        <div class="facility-box">
          <div class="icon">
            <span class="icon-airplane"></span>
          </div>
          <h3 class="title">verification et livraison en partenariat</h3>
        </div>
        <!-- /.facility-box -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="facility-box">
          <div class="icon">
            <span class="icon-coin-dollar"></span>
          </div>
          <h3 class="title">100% supervisé</h3>
        </div>
        <!-- /.facility-box -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="facility-box">
          <div class="icon">
            <span class="icon-credit-card"></span>
          </div>
          <h3 class="title">plusieurs possibilité de paiements</h3>
        </div>
        <!-- /.facility-box -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-3 col-md-6">
        <div class="facility-box">
          <div class="icon">
            <span class="icon-support2"></span>
          </div>
          <h3 class="title">24/7 support</h3>
        </div>
        <!-- /.facility-box -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.facility-area -->

<!-- /.auction-categories-block -->
<div class="live-auction-block bg-white-smoke ptb-120">
  <div class="container ml-b-30">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="section-title text-center">
          <h2 class="title-main" data-animate="hg-fadeInUp">
            live <span>Auction</span>
          </h2>
          <!-- /.title-main -->
        </div>
        <!-- /.section-title -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

    <div class="row items-two-1199">
      <div *ngFor="let pr of produits" class="col-lg-4 col-md-6">
        <div class="auction-item">
          <div class="item-header">
            <h3 class="heading">
              <a href="/auction-details">{{ pr.titre }}</a>
            </h3>
            <div class="auction-id">Enchére pour: {{ pr.acheteur }}</div>
          </div>
          <!-- /.item-footer -->
          <div class="item-img">
            <a href="/home">
              <img src="{{ pr.photo }}" alt="Thumbnail" />
              <img class="prod2" src="{{ pr.photo }}" alt="Thumbnail" />
            </a>
            <div class="bid-max">3 x <span class="icon-user-1"></span></div>
            <div class="item-price">Prix actuelle: {{ pr.prixact }}</div>
          </div>
          <!-- /.item-img -->
          <div class="item-footer">
            <div class="item-footer-top">
              <div class="bid-price">Originale {{ pr.prix }}</div>
              <div class="bid-timer-area">
                <div id="bid_counter1" class="bid-timer"></div>
                <p>en cours d'enchére</p>
              </div>
            </div>
            <div class="bid-button">
              <a
                class="btn btn-default"
                data-toggle="modal"
                data-target="#exampleModal"
                (click)="select(pr)"
                >Participez</a
              >
            </div>
          </div>
          <!-- /.item-footer -->
        </div>
        <!-- /.auction-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Enchéres</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (submit)="bid()">
                Nouveaux prix:<input
                  type="number"
                  name="p"
                  class="form-control"
                  [(ngModel)]="produit.prixact"
                  min="{{ produit.prix }}"
                /><input
                  type="submit"
                  class="btn btn-success"
                  value="confirmer"
                />
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                fermé
              </button>
              <button type="button" class="btn btn-primary">participer</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.live-auction-block -->

<!-- /.upcoming-auction-block -->

<!-- /.closed-auction-block -->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Fan Fact Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="fanfact-block ptb-120">
  <div class="container ml-b-30">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2 class="title-main" data-animate="hg-fadeInUp">
            A propos <span>de nous</span>
          </h2>
          <!-- /.title-main -->
        </div>
        <!-- /.section-title -->
        <div class="fanfact-content pd-r-70 ml-t-10">
          <p>
            Biddo shop fait partie de la famille polposhop la marketplace créée
            par protech-it en coopération avec Odystone international
          </p>
          <a class="btn btn-default" target="blank" href="https://polposhop.com"
            >Découvrir</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!--~~./ end fanfact block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Auction Winner Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~./ end auction winner block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Win Steps Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="win-steps-block ptb-150">
  <div class="container ml-b-45">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center">
          <h2 class="title-main" data-animate="hg-fadeInUp">
            3 étapes <span></span>
          </h2>
          <!-- /.title-main -->
        </div>
        <!-- /.section-title -->
      </div>
      <!-- /.col-lg-1 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card-center">
          <div class="card-icon">
            <img src="assets/images/icon/select.png" alt="Icon" />
            <div class="step">01</div>
          </div>
          <div class="card-info">
            <h3 class="heading">Choisissez enchére</h3>
            <p>Choisissez votre enchére préféré</p>
          </div>
          <!-- /.card-info -->
        </div>
        <!-- /.card-center -->
      </div>
      <!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-6">
        <div class="card-center">
          <div class="card-icon">
            <img src="assets/images/icon/auction.png" alt="Icon" />
            <div class="step">02</div>
          </div>
          <div class="card-info">
            <h3 class="heading">Participez</h3>
            <p>Participez à cet session</p>
          </div>
          <!-- /.card-info -->
        </div>
        <!-- /.card-center -->
      </div>
      <!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-6">
        <div class="card-center">
          <div class="card-icon">
            <img src="assets/images/icon/trophy.png" alt="Icon" />
            <div class="step">03</div>
          </div>
          <div class="card-info">
            <h3 class="heading">Valider le paiement en directe</h3>
            <p>
              L'administration vous mettra en contact avec le vendeur du produit
              et supervise la finalisation
            </p>
          </div>
          <!-- /.card-info -->
        </div>
        <!-- /.card-center -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!--~~./ end win steps block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Testimonial Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~./ end testimonial block ~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Work brand Block
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="work-brand-block ptb-120">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!--~~ Start Brands Carousel ~~-->
        <div class="brands-carousel-main" data-animate="hg-fadeInUp">
          <div class="brands-carousel owl-carousel">
            <div class="brands-link">
              <img src="assets/images/brand/1.png" alt="logo" />
            </div>
            <div class="brands-link">
              <img src="assets/images/brand/2.png" alt="logo" />
            </div>
            <div class="brands-link">
              <img src="assets/images/brand/3.png" alt="logo" />
            </div>
            <div class="brands-link">
              <img src="assets/images/brand/4.png" alt="logo" />
            </div>
          </div>
        </div>
        <!--~./ end brands carousel ~-->
      </div>
    </div>
  </div>
</div>
<!--~./ end work brand block ~-->
