.widget {
    margin-bottom: 60px;
	select {
		width: 100%;
		border: 1px solid #ebebeb;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.widget-title-area {
		position: relative;
	}
	.widget-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 25px;
		text-transform: capitalize;
		position: relative; 
		padding-bottom: 15px;
		&:before,
        &:after {
            position: absolute;
            bottom: 0;
            content: "";
            height: 2px;
            width: 30px;
        }
        &:before {
            background-color: $color__primary;
            left: 0;
        }
        &:after {
            background-color: #ddd;
            left:30px;
        }
    }
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}
.sidebar-items {
	padding-left: 30px;
	border-left: 1px solid $color__border-one;
	@media only screen and (max-width: 991px){
		margin-top: 65px;
		padding-left: 0;
		border-left: 0px solid;
	}
	.widget {
		margin-bottom: 60px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.widget-title {
		margin-bottom: 35px;
	}
}