/*-------------------------------------------------
    [ # Button Links ]
*/
.btn-links-area {
    margin: 5px -5px 0;
    .btn-links {
        background-color: $color__main-bg;
        border: 0 solid;
        margin: 0 8px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: $white;
        font-size: 24px;
        padding: 0;
        position: relative;
        height: 60px;
        width: 60px;
        line-height: 64px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px rgba($color__primary, 0.7);
        @media only screen and (max-width: 991px) {
            height: 50px;
            width: 50px;
            line-height: 52px;
            margin: 0 5px;
        }
        &.btn-prev {
            > span {
                position: relative;
                top: -1px;
            }

        }
        &:hover {
            color: $white;
            background-color: $color__primary;
        }
    }
    @media only screen and (max-width: 991px) {
        &.text-right {
            text-align: left !important;
            margin-bottom: 35px;
        }
    }
    @media only screen and (max-width: 767px) {
        .btn-links {
            font-size: 26px;
        }
    }
}

/*-------------------------------------------------
    [ ## All Card Style ]
*/
.card-center {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
    @media only screen and (max-width: 1199px) {
        padding: 0;
    }
    .card-icon {
        margin-bottom: 25px;
        line-height: 115px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &.card-box {
        padding: 40px 30px 35px;
        background-color: $white;
        box-shadow: 0 0 30px rgba($black, 0.1);
        .card-icon {
            line-height: 65px;
        }
        .card-info .heading {
            margin-bottom: 15px;
        }
    }
}
.card-icon-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
    @media only screen and (max-width: 1199px) {
        margin-bottom: 35px;
    }
    @media only screen and (max-width: 420px) {
        display: block;
    }
    .card-icon {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 110px;
                flex: 0 0 110px;
        max-width: 110px;
        @media only screen and (max-width: 1199px) {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 90px;
                    flex: 0 0 90px;
            max-width: 90px;
        }
        @media only screen and (max-width: 420px) {
            max-width: 100%;
            margin-bottom: 15px;
        }
    }
    .card-info {
        padding-left: 25px;
        @media only screen and (max-width: 1199px) {
            padding-left: 20px;
        }
        @media only screen and (max-width: 420px) {
            padding-left: 0px;
        }
    }
}


/*-------------------------------------------------
    [ ## Shape Icon ]
*/
.shape-icon {
    height: 85px;
    width: 105px;
    -webkit-filter: drop-shadow(2px 2px 7px rgba($color__primary,0.5));
    -moz-filter: drop-shadow(2px 2px 7px rgba($color__primary,0.5));
    -ms-filter: drop-shadow(2px 2px 7px rgba($color__primary,0.5));
    -o-filter: drop-shadow(2px 2px 7px rgba($color__primary,0.5));
    @media only screen and (max-width: 1199px) {
        width: 90px;
    }
    .icon {
        position: relative;
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-position: center center;
        -webkit-mask-position: center center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-image: url(./images/shape3.png);
        -webkit-mask-image: url(./images/shape3.png);
        height: inherit;
        width: inherit;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            background-color: $color__primary;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        [class*='flaticon-'],
        [class*='fa-'] {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            font-size: 45px;
            color: $white;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 80px;
            @media only screen and (max-width: 1199px) {
                font-size: 40px;
                line-height: 83px;
            }
        }
    }
    &.icon-red {
        -webkit-filter: drop-shadow(2px 2px 7px rgba($red2,0.5));
        -moz-filter: drop-shadow(2px 2px 7px rgba($red2,0.5));
        -ms-filter: drop-shadow(2px 2px 7px rgba($red2,0.5));
        -o-filter: drop-shadow(2px 2px 7px rgba($red2,0.5));
        .icon:before {
            background-color: $red2;
        }
    }
    &.icon-green {
        -webkit-filter: drop-shadow(2px 2px 7px rgba($green2,0.5));
        -moz-filter: drop-shadow(2px 2px 7px rgba($green2,0.5));
        -ms-filter: drop-shadow(2px 2px 7px rgba($green2,0.5));
        -o-filter: drop-shadow(2px 2px 7px rgba($green2,0.5));
        .icon:before {
            background-color: $green2;
        }
    }
    &.icon-purple {
        -webkit-filter: drop-shadow(2px 2px 7px rgba($medium_purple,0.5));
        -moz-filter: drop-shadow(2px 2px 7px rgba($medium_purple,0.5));
        -ms-filter: drop-shadow(2px 2px 7px rgba($medium_purple,0.5));
        -o-filter: drop-shadow(2px 2px 7px rgba($medium_purple,0.5));
        .icon:before {
            background-color: $medium_purple;
        }
    }
}
/*-------------------------------------------------
    [ ## Card ]
*/
.card-info-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
    .icon {
        font-size: 42px;
        line-height: 80px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        text-align: center;
        color: $white;
        position: relative;
        @media only screen and (max-width: 480px) {
            font-size: 26px;
            height: 50px;
            width: 50px;
            line-height: 50px;
        }
        &:before {
            position: absolute;
            content: "";
            bottom: 25px;
            left: -15px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba($white, 0.2);
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
        }
    }
    .info {
        padding-left: 25px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 80px);
                flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
        @media only screen and (max-width: 480px) {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100% - 50px);
                    flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);
            padding-left: 15px;
        }
        .heading {
            margin-bottom: 13px;
        }
    }
    &:hover .icon:before {
        bottom: 20px;
        left: -7px;
    }
}

/*-------------------------------------------------
    [ ## Search ]
*/
.search-wrap {
    position: relative;
    .search-btn {
        cursor: pointer;
        font-size: 16px;
        color: $color__widget-text;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $color__primary;
        text-align: center;
        line-height: 38px;
        &:hover {
            color: $white;
            background-color: $color__primary;
            border-style: solid;
        }
        &.active i:before {
            content: "\f00d";
        }
    }
    .search-form {
        background-color: $color__main-bg;
        box-shadow: 0 7px 15px rgba($black, 0.15);
        display: none;
        height: 70px;
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: calc(100% + 30px);
        width: 450px;
        z-index: 99;
        @media only screen and (max-width: 1199px) {
            top: calc(100% + 20px);
        }
        input[type="search"] {
            border: 1px solid $color__border-one;
            float: left;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            width: 85%;
            background-color: transparent;
            color: $color_text_main;
        }
        button {
            background-color: $color__primary;
            border: 0 solid;
            float: left;
            height: 50px;
            width: 15%;
            color: $white;
            font-size: 20px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

/*-------------------------------------------------
    [ ## Animation Circle ]
*/
.animation-circle-inverse {
    > span {
        background: rgba($white,0.3);
        right: 0;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        opacity: 0.3;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-animation: circleWater 4s linear infinite;
        animation: circleWater 4s linear infinite;
        &:nth-child(2) {
            -webkit-animation: circleWater2 4s linear infinite;
            animation: circleWater2 4s linear infinite;
        }
        &:nth-child(3) {
            -webkit-animation: circleWater3 4s linear infinite;
            animation: circleWater3 4s linear infinite;
        }
    }
}

/*-------------------------------------------------
    [ ## Carousel Nav Dots & Carousel Align Center ]
*/
.carousel-nav-align-center {
    .owl-nav {
        > div {
            display: inline-block;
            color: $white;
            font-size: 14px;
            font-weight: 600;
            -webkit-transition: all 0.25s ease-in 0s;
            transition: all 0.25s ease-in 0s;
            position: absolute;
            width: 30px;
            height: 35px;
            background-color: $color__primary;
            border-radius: 5px;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            border-radius: 0;
            letter-spacing: 0.6em;
            text-transform: uppercase;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-content: center;
            font-size: 18px;
            i {
                padding-left: 8px;
                display: inline-block;
            }
            &.owl-prev {
                left: 0;
            }
            &.owl-next {
                right: 0px;
            }
            &:hover {
                color: $white;
            }
        }
    }
}
.carousel-nav-dots {
    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            margin: 6px 5px;
            > span {
                background-color: rgba($white,0.4);
                border-radius: 50%;
                display: block;
                height: 8px;
                -webkit-transition: all 0.2s ease 0s;
                transition: all 0.2s ease 0s;
                width: 8px;
            }
            &.active > span {
                background-color: $white !important;
                height: 12px;
                width: 12px;
            }
        }
    }
}

/*-------------------------------------------------
    [ ## Scroll Top ]
*/
.topbutton {
    color: $white;
    bottom: 50px;
    display: block;
    height: 60px;
    line-height: 60px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 60px;
    -webkit-transition: all 0.3s; 
    transition: all 0.3s;
    z-index: 999;
    font-size: 20px;
    border-radius: 50%;
    background-color: $color__primary;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
    &.btn-show {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    &.btn-hide {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    &:hover {
        color: $white !important;
        opacity: 0.9;
    }
    &:focus {
        color: $white !important;
    }
}